<h1>Welcome to the traditional game of Rock, Paper, Scissors.</h1>
<h2>Rules</h2>
<p>Rock beats scissors. Scissors beats paper. Paper beats rock.</p>
<p>Add your choices in the address bar. e.g localhost:4567/rock/paper</p>
